## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [16]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
gender_counts = data['sex'].value_counts()
print(gender_counts)

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
man_meal_age = data[data['sex'] == 'Male']['age'].mean()
print(man_meal_age)

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
country_counts = data['native-country'].value_counts()
US_country = country_counts['United-States']
ALL_country = data.shape[0]
print(US_country / ALL_country * 100, end="")
print("%")

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [6]:
age_high_income = data[data['salary'] == '>50K']['age']
age_low_income = data[data['salary'] == '<=50K']['age']

mean_age_high_income = age_high_income.mean()
std_age_high_income = age_high_income.std()
mean_age_low_income = age_low_income.mean()
std_age_low_income = age_low_income.std()

print("средн. возраст >50", mean_age_high_income)
print("средн. возраст <50:", mean_age_low_income)
print("среднеквадр. откл. >50:", std_age_high_income)
print("среднеквадр. откл. <50:", std_age_low_income)

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
high_income_education = data[data['salary'] == '>50K']['education']
non_high_education = high_income_education[~high_income_education.isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]

if non_high_education.empty:
    print("Верно, все люди с доходом более 50K имеют как минимум высшее образование.")
else:
    print("Неверно, есть люди с доходом более 50K, у которых образование не соответствует указанным категориям.")

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [8]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(age_stats)

max_age_asian_pac_islander_male = age_stats.loc[('Asian-Pac-Islander', 'Male'), 'max']
print("Максимальный возраст мужчин расы Asian-Pac-Islander:", max_age_asian_pac_islander_male)

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
married_mans = data[(data['sex'] == 'Male') & (data['marital-status'].str.startswith('Married'))]
unmarried_mans = data[(data['sex'] == 'Male') & (~data['marital-status'].str.startswith('Married'))]

share_of_married = len(married_mans[married_mans['salary'] == '>50K']) / len(married_mans)
share_of_unmarried = len(unmarried_mans[unmarried_mans['salary'] == '>50K']) / len(unmarried_mans)

if share_of_married > share_of_unmarried:
    print('Среди женатых')
elif share_of_unmarried > share_of_married:
    print('Среди неженатых')
else:
    print('Одинаково')

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
max_hours_per_week = data['hours-per-week'].max()
print(max_hours_per_week)

len_max_hours_per_week = len(data[data['hours-per-week'] == max_hours_per_week])
print(len_max_hours_per_week)

people_max_hours = data[data['hours-per-week'] == max_hours_per_week]
share_of_a_lot = len(people_max_hours[people_max_hours['salary'] == '>50K']) / len(people_max_hours) * 100
print(share_of_a_lot, end="")
print('%')

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:
mean_hours_per_week = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
print(mean_hours_per_week)

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [12]:
def get_age_ground(age):
    if age >= 16 and age <= 35:
        return 'young'
    elif age > 35 and age <= 70:
        return 'adult'
    elif age > 70 and age <= 100:
        return 'retiree'
    else:
        return 'unknown'

data['AgeGroup'] = data['age'].apply(get_age_ground)
print(data[['age', 'AgeGroup']])

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [13]:
income_counts = data[data['salary'] == '>50K'].groupby('AgeGroup').size()
most_common_group = income_counts.idxmax()
print(most_common_group)

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [14]:
occupation_counts = data.groupby('occupation').size()
print(occupation_counts)

def filter_func(group):
    return group['age'].mean() <= 40 and (group['hours-per-week'] > 5).all()

filtered_groups = data.groupby('occupation').filter(filter_func)
print(filtered_groups['occupation'].unique())